[Unit]
Description=Simple TSDB server
After=network-online.target

[Service]
User=simple_tsdb
Group=simple_tsdb
ExecStart=/usr/local/bin/tsdbserver --root /var/lib/simple_tsdb/ --no-debug --unbuffered
Restart=on-failure

[Install]
WantedBy=multi-user.target
