[Unit]
Description=Simple TSDB reflector
After=network.target

[Service]
User=simple_tsdb
Group=simple_tsdb
ExecStart=/usr/local/bin/tsdbreflector --root /var/lib/simple_tsdb/ --no-debug --unbuffered
Restart=on-failure

[Install]
WantedBy=multi-user.target
